<div class="row text-center">
	<div class="large-12">
		<label>Nombre<input type="text" placeholder="Nombre"
			name="usuario" ng-model="nombre" required />
		</label> <label>Usuario<input type="text"
			placeholder="Nombre de usuario" name="usuario" ng-model="usuario"
			required />
		</label> <label>Contraseña<input type="password" placeholder="******"
			name="password" ng-model="password" required />
		</label> <label>Correo electronico<input type="email"
			placeholder="tu@email.com" name="email" ng-model="email" required />
		</label> <span ng-if="error_registro.length > 0">
			<div data-alert class="alert-box alert">{{error_registro}}</div>
	</div>
	<button ng-click="registrarse()" class="button expand">Registro</button>
</div>